.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column-half,
.column-full,
.sponge-img {
  width: 100%;
  align-self: center;
}

.navbar-header {
  font-size: 19px;
}

.home-icon,
.search-icon {
  font-size: 23px;
  padding: 0 11px;
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .categories-button,
  .level-button,
  .participants-button {
  width: 330px;
  }

  .column-full,
  .column-half,
  .sponge-img {
    padding: 0 1rem;
    align-items: center;
  }

  .home-icon,
  .search-icon {
    font-size: 30px;
    padding: 0 20px;
    margin: 1rem 0;
  }

  .column-half {
    width: 50%;
    align-self: center;
  }

  .navbar-header {
    font-size: 25px;
  }
}
