.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column-full {
  width: 100%;
}

.column-half,
.sponge-img {
  width: 100%;
  text-align: center;
}

.column-two-third {
  font-size: 7.9px;
}

.home-icon,
.search-icon {
  font-size: 23px;
  padding: 0 11px;
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .sponge-img {
    max-width: 500px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
    align-items: center;
  }

  .column-two-third {
    font-size: 16px;
  }

  .home-icon,
  .search-icon {
    font-size: 30px;
    padding: 0 20px;
    margin: 1rem 0;
  }

  .column-half {
    width: 50%;
    align-self: center;
  }
}
