.hidden {
  display: none;
}

.home-page-header,
.main-page-header,
.activity-page-header {
  font-family: 'Ribeye', cursive;
  background-color: rgb(55, 204, 214);
  width: 100%;
  margin-bottom: 1rem;
}

.home-page-header {
  text-align: center;
  padding: 5px 0;
}

body {
  font-family: 'Zilla Slab', serif;
}

.get-started-button {
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  background-color: rgb(55, 204, 214);
  border-radius: 15px;
  padding: 15px 20px;
  box-shadow: 5px 5px 8px rgba(71, 140, 150, 0.849);
  border: 1px solid black;
  margin: 1rem auto;
}

.bored-sponge-img {
  margin: 2rem auto;
}

.main-page-header,
.activity-page-header {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}

.home-icon,
.search-icon {
  font-size: 2rem;
  padding: 0 4px;
}

.categories-button,
.level-button {
  width: 200px;
  font-family: 'Zilla Slab', serif;
  font-size: 20px;
  background-color: rgb(55, 204, 214);
  border-radius: 15px;
  padding: 5px 10px;
  box-shadow: 5px 5px 8px rgba(71, 140, 150, 0.849);
  border: 1px solid black;
  margin: 5px auto;
}

.search {
  text-align: left;
}

.activity-saying {
  font-family: 'Dancing Script', cursive;
}

hr{
  border-top: 0.5px solid rgb(230, 230, 230);
}
